.slider {
  height: 25rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(25rem * 18);
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 9));
  }
}

.slide {
  height: 7rem;
  width: 25rem;
  display: flex;
  align-items: center;
  padding: 0.5px;
  perspective: 15rem;
  // box-sizing: border-box;
  // border-radius: 50rem;
  // background-color: #fff;
}

.tall {
  // height: 3rem !important;
  width: 12.5rem !important;
}

img {
  width: 50%;
  transition: transform 1%;
}

img:hover {
  transform: translateZ(2rem);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(225, 225, 225, 0) 100%);

  content: "";
  height: 80%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(100deg);
}

.carousel {
  width: 90rem;
  margin: 10rem 10rem;
  background-color: $color-white;
  /* padding: 32px; */
  /* padding-left: 86px; */
  /* padding-right: 48px; */
  padding: 32px 48px 32px 86px;

  border-radius: 8px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

.portfolio-image {
  height: 30rem;
  width: 40rem;
  border-radius: 8px;
  // transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.portfolio-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: $color-primary-dark;
  width: 25rem;
  margin-left: -5rem;
}

.portfolio-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.portfolio-job {
  font-size: 12px;
  color: #c3fae8;
}

// /* CONTROLS */
.portfolio-button {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  /* In relation to PARENTE ELEMENT */
  left: 0;
  top: 50%;

  /* In relation to ELEMENT ITSELF */
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: $color-secondary-dark;
}
.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid $color-secondary-dark;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: $color-secondary-dark;
}

.portfolio-btn {
  background-color: $color-secondary-dark !important;
  // margin-top: -4rem;
  margin-left: -5rem;
}
