.slider {
  height: 25rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(25rem * 18);
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 9));
  }
}

.slide {
  height: 7rem;
  width: 25rem;
  display: flex;
  align-items: center;
  padding: 0.5px;
  perspective: 15rem;
  // box-sizing: border-box;
  // border-radius: 50rem;
  // background-color: #fff;
}

.tall {
  // height: 3rem !important;
  width: 12.5rem !important;
}

img {
  width: 50%;
  transition: transform 1%;
}

img:hover {
  transform: translateZ(2rem);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(225, 225, 225, 0) 100%);

  content: "";
  height: 80%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(100deg);
}
