.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgb(98, 98, 98);
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn-white {
  background-color: #fff;
  color: #000;
  box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.15);
}

.btn-icon-1 {
  margin-left: 0.2rem;
  margin-bottom: -0.2rem;
  color: #000;
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInbottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    padding: 0.3rem;
    transition: all 0.5s;
    background-color: $color-primary;
    color: $color-white;
  }

  &:hover {
    // color: $color-primary;
    // background-color: $color-grey-light-1;
    box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.15);
    transform: translateY(-0.5rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-primary-dark, 0.15);
    transform: translateY(0rem);
  }
}

.btn-icon-2 {
  // margin-top: 4rem;
  margin-left: 0.8rem;
  margin-bottom: -0.2rem;
}

.contact {
  margin-top: 0.5rem;
  margin-left: 6rem;
}

.me-btn {
  margin-left: 0.6rem;
  margin-bottom: -0.3rem;
}
