.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgb(98, 98, 98);
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn-white {
  background-color: #fff;
  color: #555;
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white:after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInbottom 2s ease-out 0.75s;
  animation-fill-mode: backwards;
}
