.composition {
  &__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.1);
    border-radius: 1rem;
    margin-left: 10rem;
  }

  &:hover {
    transform: scale(1.2);
    transition: all 0.9s;
  }
}
